/* 此文件用来添加公共样式 */

/* 屏幕宽度在340px到410px之间时,基准尺寸使用20px */
html {
  font-size: 20px;
}

/* 屏幕宽度小于340px时，基准尺寸使用20px*/
@media (max-width: 340px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 410x) {
  html {
    font-size: 22px;
  }
}

/* body默认样式 */
body {
  max-width: 640px;
  margin: 0 auto;
  background: #f8f8f8;
  overflow-x: hidden;
  /* ios让滚动带有弹性 */
  -webkit-overflow-scrolling: touch;
}

/* 页面蒙版 */
.wp-mask {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 300;
}
